.copy-text-input {
    width: 80%;
}

.copy-share-button {
    padding-right: 0.5rem;
}

@media (max-width: 800px) {
  .copy-text-input {
      width: 70%;
  }
}

@media (max-width: 500px) {
  .copy-text-input {
      width: 60%;
  }
}
