<!DOCTYPE html>
<html>
  <head>
    <% if (htmlWebpackPlugin.options.google_analytics) { %>
        <%= htmlWebpackPlugin.options.google_analytics %>
    <% } %>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Git Trophy - 3D Print Your Github Contributions</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
    <link rel="stylesheet" href="main.css"></link>
  </head>

  <body>
    <div id="root"></div>
    <!-- Attach React components -->
    <script type="text/javascript" src="dist/bundle.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
